# Environments
.env
.venv
env/
venv/
ENV/
env.bak
.env.bak

# Credentials
credentials/
*.json

# Poetry
# poetry.lock

# ADK Files
instruction_prompt_root_v2.txt
SCREEN_SHARE_README.md
test_screen_share.py

# Python
*.pyc
__pycache__/
.pytest_cache/
build/
dist/
*.egg-info/
.DS_Store 